@use '../base/settings' as *;
@use '../mixins/mixins';

.page-container{
    display: flex;
    justify-content: center;
}
.about-wrapper{
    padding: 2rem;
    max-width: 50rem;
    margin: 2rem 1rem;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: .625rem;

    @media(min-width: 65em){
        display: flex;
        max-width: 81.25rem;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
    }

    .img-wrapper{
        max-width: 25rem;
        margin: 0 auto;
        .portrait {
            display: block;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        }
    }

    .about-intro{

        h2{
            text-align: center;
            padding: 1rem .5rem;
        }
        p{
            line-height: 1.5;
            font-size: 1.1rem;
        }
    }

    .about-skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            color: $secondary-color;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
            .skill-item{
                display: flex;
                background-color: $primary-color;
                color: $background-color;
                font-weight: bold;
                text-align: center;
                width: 6rem;
                padding: 1rem;
                margin: .5rem;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                @media(min-width: 23.125em){
                    width: 7.5rem;
                }
            }
        }

        .reset-btn {
            background-color: $secondary-color;
            color: #FFF;
            padding: .5rem;
            margin: .5rem;
            border-radius: .625rem;

            &:hover {
                background-color: $primary-color;
            }
        }
    }

    .about-projects-btn{
        text-align: center;
        padding: 1rem;
        
        a{
      @include mixins.custom-button;
      }
    }

}