@use '../base/settings' as *;

.about-hobbies {
    padding: 1rem 0;

    .hobbies-accordion {
        border: 3px solid $primary-color;
        border-radius: 10px;
        max-width: 31.25rem;
        margin: 0 auto;

        .accordion-title {
            color: $background-color;
            background-color: $primary-color;
            font-weight: bold;
            font-size: 1.5rem;
            padding: 0.3rem 0.5rem;
            display: flex;
            justify-content: space-between;

            h3 {
                color: #FFF;
            }
            span {
                font-size: 1.5rem;
            }
        }

        .accordion-item-panel {
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.3s ease-out;

            ul {
                padding: 0;
                text-align: center;

                li {
                    border-top: 2px solid $primary-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 1rem;

                    h3 {
                        margin: 0;
                    }
                }
            }
        }

        &.open {
            .accordion-item-panel {
                margin: 0;
                max-height: 31.25rem;
            }
        }
    }
}