@use '../base/settings' as *;
@use '../mixins/mixins';

.home-works-section{
    max-width: 80%;
    margin: 0 auto;

    .home-works-title {
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    margin-bottom: 3rem;

    @media(min-width: 64em){
        max-width: 90%;
        font-size: 3rem;
        }
    }

    .project-card {
        h3 {
            text-align: center;
            font-size: 1.5rem;
        }

    }

        .slick-arrow.slick-prev::before {
            color: $primary-color;
        }

        .slick-arrow.slick-next::before {
            color: $primary-color;
        }

        .slick-dots {
            position: static;
        
        li button:before{
            font-size: 12px;
            color: $primary-color
        }
        li.slick-active button:before{
            font-size: 12px;
            color: $primary-color;
            
        }
    }

}

.all-projects-btn {
    text-align: center;
    margin: 3rem;

    a {
    @include mixins.custom-button;
    }
}