footer {
    margin: 5rem 1rem 1rem;
    text-align: center;
    
    .social-icon {
        margin: 1.25rem .3125rem;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    .social-icons {
        z-index: 9999;
        @media(min-width: 64em){
        position: fixed;
        bottom: 10px;
        left: 10px;
        backdrop-filter: blur(5px);
        }
    }
}