footer {
    margin: 5rem 1rem 1rem 1rem;
    text-align: center;
    .social-icon {
        margin: 1.25rem .3125rem;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    @media(min-width: 64em){
    .social-icons {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 10000;
        }
    }
}