@use '../base/settings' as *;

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 8rem);
    z-index: 1000;

    img {
        width: 10rem;
    }
}