@use '../base/settings' as *;
.btn-nav, .show-btn-nav{
    border: none;
    background: none;
    border: 3px solid $primary-color;
    background-color: $background-color;
    border-radius: .625rem;
    padding: .5rem;
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 1.75rem;
    z-index: 9999;
    font-size: 1.2rem;
}
    .btn-nav{
    color: $primary-color;
    &:hover, &:active{
        color: $secondary-color;
        }
    }

.show-btn-nav{
    color: $primary-color;
    &:hover, &:active{
        color: $secondary-color;
        }
}

.nav{
    visibility: hidden;
    width: 100%;
    height: 0;
    padding: 0;
    overflow: hidden;
    transform: translateX(100%);

    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 3rem;
        padding: 0;
        @media(min-width: 26.5625em){
            font-size: 4rem;
        }
        li {
            padding: 1rem;

            @media(min-width: 64rem){
                padding: 2rem 1rem;
            }
            a{
                color: #FFFFFF;
                font-weight: 600;
                @media(min-width: 64em){
                    font-size: 6rem;
                }

                &:hover, &:active{
                    color: $secondary-color;
                }
            }
        }
    }

}
.show .nav{
    visibility: visible;
    z-index: 9998;
    transition: visibility 0s, transform 0.5s;
    transform: translateX(0);
    height: 100vh;
    width: 100%;
    position: fixed;
    padding: 1rem;
    top: 0;
    right: 0;
    left: 0;
    background-color: $primary-color;
}