@use '../base/settings' as *;
.btn-nav, .show-btn-nav{
    border: none;
    background: none;
    border: 3px solid $primary-color;
    background-color: #FFF;
    border-radius: .625rem;
    padding: .5rem;
    cursor: pointer;
    z-index: 9999;
    font-size: 1.2rem;
}
    .btn-nav{
    color: $primary-color;
    &:hover, &:active{
        color: $secondary-color;
        }
    }

.show-btn-nav{
    color: $primary-color;
    &:hover, &:active{
        color: $secondary-color;
        }
}

.nav{
    visibility: hidden;
    width: 100%;
    height: 0;
    padding: 0;
    overflow: hidden;
    transform: translateX(100%);

    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 3rem;
        padding: 0;
        @media(min-width: 26.5625em){
            font-size: 4rem;
        }
        li {
            padding: 1rem;

            @media(min-width: 64rem){
                padding: 2rem 1rem;
            }
            a{
                color: #FFFFFF;
                font-weight: 600;
                @media(min-width: 64em){
                    font-size: 6rem;
                }

                &:hover {
                    transition: 0.3s;
                }

                &:hover, &:active{
                    color: $secondary-color;
                }
            }
        }
    }

    .nav-social-icons {
        display: flex;
        justify-content: flex-end;
        
        a {
            transition: transform 0.3s ease-in-out;
            
            &:hover {
            transform: scale(1.2);
            }
        }

        @media(min-width: 64em){
            > * {
                width: 7rem !important;
                height: 7rem !important;
            }
        }   
    }

}
.show .nav{
    visibility: visible;
    z-index: 9998;
    transition: visibility 0s, transform 0.6s;
    transform: translateX(0);
    height: 100vh;
    max-width: 120rem;
    margin: 0 auto;
    position: fixed;
    padding: 1rem;
    top: 0;
    right: 0;
    left: 0;
    background-color: $primary-color;

     li {
        animation: animate 350ms ease-in-out forwards;
        opacity: 0;
        transform: translateX(-2em);
    }
    @keyframes animate {
        0% {
            opacity: 0;
            transform: translateX(-2em);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    li:nth-child(1) {
        animation-delay: 400ms;
    }
    
     li:nth-child(2) {
        animation-delay: 600ms;
    }
    
     li:nth-child(3) {
        animation-delay: 800ms;
    }
     li:nth-child(4) {
        animation-delay: 1s;
    }
}