@use '../base/settings' as *;
@use '../mixins/mixins';

.projects-wrapper{
    padding: 1rem;
    max-width: 100rem;
    margin: 0 auto;
    

    @media(min-width: 90em){
        font-size: 1.2rem;
    }

    h1 {
        margin: 4rem 0;
        position: relative;
        display: inline-block;
        text-decoration: none;
    }
    
    h1::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.4375rem;
        width: 0%;
        height: .3rem;
        background-color: $primary-color;
        animation: underlineExpand 0.8s forwards;
        animation-delay: 0.7s;
        border-radius: 10px;
    }
    
    @keyframes underlineExpand {
        from {
            width: 0%;
        }
        to {
            width: 100%;
        }
    }

    .project-card {
        max-width: 43rem;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 1rem;
        background-color: #FFF;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        border-radius: .625rem;
        margin-bottom: 1.5rem;

        @media (min-width: 65rem){
            flex-direction: row;
            align-items: flex-end;
            max-width: 100%;

            img {
                max-width: 25rem;

                @media(min-width: 90rem) {
                    max-width: 30rem;
                }
            }
        }

        h2 {
            text-align: center;
            @media(min-width: 64em) {
                text-align: left;
            }
        }
        ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;

        @media(min-width: 64em) {
            justify-content: flex-start;
        }
        li{
            @include mixins.softwares-list;
            }
        }

        .projects-more-info{
            text-align: center;
            padding: 1rem;
            margin-top: .5rem;
            a {
                @include mixins.custom-button;
                padding: .8rem;
            }
        }   
    }   
}