@use '../mixins/mixins';
@use '../base/settings' as *;

.single-project {
    padding: 1rem;
    max-width: 81.25rem;
    margin: 0 auto;

    p {
        max-width: 50rem;
        display: flex;
        margin: 1rem auto;
    }

    @media(min-width: 65em){
        font-size: 1.2rem;
    }

        .mockups-img {
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        h2 {
            padding: 1rem 0 0;
            text-align: center;
            
        }

    .software-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        li {
            @include mixins.softwares-list;
        }
    }


    .project-live-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        a {
            background-color: $primary-color;
            color: #FFF;
            padding: .5rem;
            margin: .5rem;
            border-radius: .625rem;
            display: flex;
            align-items: center;
            gap: .5rem;

            &:hover {
                background-color: $secondary-color;
                transition: 0.3s;
            }

            svg {
                height: 1.5rem;
                width: auto;
            }
        }
    }

    .project-details {
        padding: 1rem;
        .react-tabs {
            ul{
                margin: 1rem 0;
                text-align: center;
                li {
                    cursor: none;
                    font-weight: 600;
                    color: $primary-color;
                    background-color: #FFF;
                    border: 1px solid $primary-color;
                    border-radius: .3125rem .3125rem 0 0;
                    margin: 0 .2rem;
                }
            }
            .react-tabs__tab--selected {
                color: #FFF;
                background-color: $primary-color
            }
        }

        .highlights-img {
             @media(min-width: 43.75em) {
                max-width: 40rem;
                display: flex;
                margin: 0 auto;
             }
        }
    }
}