@use 'settings' as *;

body {
    font-family: $body-font;
    line-height: 1.2;
    font-size: 1rem;
    font-weight: 400;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $heading-font;
    color: $primary-color;
    margin: 0;
}

a,
ul,
ol,
li {
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
    font-family: $heading-font;
}

p {
    margin: 0;
    color: #000000;
    line-height: 1.5;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}