@use 'settings' as *;

body {
    font-family: $body-font;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $heading-font;
    color: $primary-color;
    margin: 0;
}

a,
ul,
ol,
li {
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
    font-family: $heading-font;
}

p {
    margin: 0;
    color: #FFFFFF;
}